/* style.css */

/* 외부 style문서 불러오기 */
/*
  @import url(문서경로);
  @import "문서경로";
*/
@import "./reset.css";

/* 웹폰트 (Noto Sans KR / Crimson Text) */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");

/* css style */

:root {
  --main-color: #0c2d83;
  --bg-color-light: #f5f5f5;
  --text-light: #666;
  --white: #fff;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  background-color: var(--white);
}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

a {
  color: #000;
}

p {
  line-height: 26px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* ##### header ##### */

#main-header {
  height: 80px;
}

#main-header h1 {
  position: absolute;
  left: 20px;
  top: 15px;
}
#gnb {
  position: absolute;
  right: 170px;
  top: 28px;
  z-index: 100;
}

/* 1단계 메뉴 */
#gnb .depth1 {
  display: flex;
}
#gnb .depth1 > li {
  width: 7em;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}
#gnb .depth1 > li > a {
  font-size: 18px;
  font-weight: 500;
}

/* 2단계 메뉴 */

#gnb .depth2 {
  background: var(--white);
  border: 0.1px solid #ccc;
  margin-top: 27px;
  display: none;
  padding: 10px;
}

#gnb .depth2 > li {
  margin-bottom: 10px;
}
#gnb .depth2 > li:last-child {
  margin-bottom: 0;
}

#gnb .depth2 a {
  color: var(--text-light);
}
/* 호버효과 */
#gnb .depth1 > li:hover > a {
  color: var(--main-color);
  font-weight: 700;
}

#gnb .depth1 > li:hover .depth2 {
  display: block;
}

#gnb .depth2 > li:hover > a {
  text-decoration: underline;
}

#main-header .btn-toggle {
  position: absolute;
  right: 20px;
  top: 25px;
}

/* ##### Site-map ##### */
/* 팝업 버전 */
#site-map-menu {
  position: fixed;
  width: 80%;
  min-width: 1000px;
  height: 80vh;
  background: rgba(255, 255, 255, 1);
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  background-image: url(../images/symbol_opa.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 110% 180%;
  /* height: 0; */
  /* overflow: hidden; */
  /* transition: 0.2s; */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
/* 사이트맵 비표시 상태 */
#site-map-menu {
  display: none;
}
/* 사이트맵 표시 상태 */
#site-map-menu.show {
  display: block;
}

#site-map-menu .container {
  height: 100%;
  width: 100%;
}

#site-map-menu h1 {
  position: absolute;
  left: 20px;
  top: 15px;
}

#site-map-menu .btn-close {
  position: absolute;
  right: 20px;
  top: 25px;
}

#site-map-menu #site-menu {
  width: 100%;
  height: calc(100% - 90px);
  position: absolute;
  top: 90px;
  padding: 50px 50px;
}

#site-map-menu .depth1 {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
}

#site-map-menu .depth1 > li {
  width: 33.33%;
  height: 50%;
}

#site-map-menu .depth1 > li > a {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}

#site-map-menu .depth2 > li > a {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

/* my 버전 */
/* #site-map-menu {
  position: fixed;
  width: 100%;
  height: 80vh;
  background: #fff;
  top: 0;
  z-index: 999;
  height: 0;
  overflow: hidden;
}

#site-map-menu .container {
  background-image: url(../images/symbol_opa.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 105% 120%;
}

#site-map-menu h1 {
  position: absolute;
  left: 20px;
  top: 15px;
}

#site-map-menu .btn-close {
  position: absolute;
  right: 20px;
  top: 25px;
}

#site-map-menu #site-menu {
  width: 100%;
  height: calc(100% - 90px);
  position: absolute;
  top: 90px;
  padding: 20px 50px;
}

#site-map-menu .depth1 {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  row-gap: 80px;
}

#site-map-menu .depth1 > li {
  width: 33.33%;
  height: calc(50%-80px);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
#site-map-menu .depth1 > li:nth-child(4) {
  border-bottom: none;
}

#site-map-menu .depth1 > li:nth-child(5) {
  border-bottom: none;
}

#site-map-menu .depth1 > li:nth-child(6) {
  border-bottom: none;
}

#site-map-menu .depth1 > li > a {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}

#site-map-menu .depth2 > li > a {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
} */

/* ##### Main-banner ##### */

#main-banner {
  height: 480px;
  background: #000;
}

#main-banner .container {
  height: 100%;
  background-image: url(../images/main-banner-1.jpg);
  display: flex;
  align-items: center;
  transition: 2s;
}

#main-banner h1 {
  color: var(--white);
  font-size: 60px;
  font-weight: 400;
  padding-left: 100px;
}

/* ##### Introduction ##### */

#intro .container {
  padding: 50px 20px;
}

#intro .intro-list {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  text-align: center;
}

/* #intro .intro-list li {
  outline: 1px solid red;
  width: calc((100% - 60px) / 4);
} */

#intro .intro-list h2 {
  margin-bottom: 10px;
}

#intro .intro-list li img {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

/* ##### Notice ##### */

#notice .container {
  padding: 50px 20px;
  background: var(--bg-color-light);
}

#notice .icons-list {
  display: flex;
}

#notice .icons-list li {
  height: 280px;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px dotted rgba(0, 0, 0, 0.1);
}

#notice .icons-list li:first-child {
  border-left: none;
}

#notice .icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notice .icon-group img {
  width: 80px;
}

#notice .icon-group h3 {
  margin: 10px 0;
}

#notice .btn-more {
  color: var(--text-light);
  text-decoration: underline;
}

/* ##### SNS-banner ##### */

#sns-banner .container {
  height: 140px;
  background-image: url(../images/bottom-banner.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px;
}

#sns-banner h1 {
  color: var(--white);
  margin-bottom: 8px;
  font-weight: 400;
}
#sns-banner p {
  color: rgba(255, 255, 255, 0.4);
}

#sns-banner img:first-child {
  margin-right: 30px;
}

/* ##### Footer ##### */

#main-footer {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

#main-footer .container {
  padding: 50px 20px;
}

#main-footer .footer-menu {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

#main-footer .footer-menu a {
  color: #444;
}
#main-footer .footer-menu span {
  margin: 0 10px;
}

#main-footer address {
  font-size: 12px;
  font-style: normal;
  color: #999;
  margin-bottom: 15px;
}
#main-footer .copy {
  font-size: 12px;
  font-style: normal;
  color: #999;
}
